.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

  .main-header-shop {
  background-color:red;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 355px;
  z-index: 126;
}

.top_menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 3213px;
  z-index: 138;
}
.top-menu li {
  float: left;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  /*margin-right: 66.52px;*/
 text-transform: uppercase; /*делает буквы заглавными*/
  list-style: none; /*Отключение отображения маркеров. */
}
.top-menu li a {
   display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
   padding: 66.52px;  /* Внутри блочные отступы. */
   text-decoration: none; /* Устранение подчёркивания ссылок. */
   /*Заголовок "Магазин готовых шаблонов*/
.h1-shop {
  font-size: 10px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: center;
  -moz-transform: matrix( 5.4190018399672,0,0,5.4190018399672,0,0);
  -webkit-transform: matrix( 5.4190018399672,0,0,5.4190018399672,0,0);
  -ms-transform: matrix( 5.4190018399672,0,0,5.4190018399672,0,0);
  position: absolute;
  left: 658.769px;
  top: 212.426px;
  z-index: 127;
}



