body
{font-family: 'Roboto', sans-serif;}

.main-header-shop {
    background-color: #eeeeee; /*делает цвет фона header серым*/
    width: 1440px;
    height: 355px;
}
.container
{
    width: 1160px;
    margin: 0 140px;
}







/*логотип*/
.logo-header-shop {
  position:absolute;
  top: 49px; 
  left: 140px; /*отступ от левого края*/
  width: 160px; /*ширина логотипа*/
}
nav.top_menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 3213px;
}
.top-menu ul {
  position: absolute;
  left: 500px;
  top: 83px; 
  padding: 0;
  margin: 0 auto;
  list-style-position: none;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  /*margin-right: 66.52px;*/
 text-transform: uppercase; /*делает буквы заглавными*/
  list-style: none; /*Отключение отображения маркеров. */
}
   .top-menu li {
   display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
   position: relative;
   float: left;
   padding: 0px 24px ;  /* Внутри блочные отступы. */
   text-decoration: none; /* Устранение подчёркивания ссылок. */
   
   /*Заголовок "Магазин готовых шаблонов*/
.h1-shop {
  font-size: 10px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 658.769px;
  top: 212.426px;

}

h3.filter-h
{
 text-transform: uppercase; /*делает буквы заглавными*/

}


form {
    display: block;
    margin-top: 0em;
}
.filter
{
position: absolute;
  left: 140px;
  top: 356px; 
width: 1160px;
 /* height: 2220px;*/
 
}

h3.filter
{
 text-transform: uppercase; /*делает буквы заглавными*/

}

div.filter-left
{
  position: absolute;
  float: left;
  width: 260px;
/*height: 2220px;*/
   
}
/*кнопка Показать*/
.filter-form buttom.btn {

  background: #eeeeee; /* фон кнопки */
  width: 260px;
    height: 50px;
} 


 div.right-shop 
{
position: absolute;
  float: right;
  left: 400px;
  /*top: 356px; */
  width: 760px;
  height: 2220px;

}

